<div>
  <h3>{{appName}}</h3>
  <button (click)="getGadgets()">Get Gadgets</button>
  <button (click)="addGadget()"> Add Gadget </button>

  @if(isLoading | async; as loading ) {
    <table>
      <th>Brand</th>
      <th>Type</th>
      <tbody>
        <tr>
        @for (gadget of myGadgets | async; track gadget.type) {
          <td>{{gadget.type}}</td>
          <td>{{gadget.brand}}</td>
          <td><button (click)="deleteGadget(gadget)"></button></td>
        }
        </tr>
      </tbody>
    </table>
  }
</div>
